.App {
  font-family: sans-serif;
  text-align: center;
}

.main {
  height: 50vh;
}
.snackbar {
  display: flex;

  padding: 5px;
  align-items: center;
  max-width: max-content;
}
.mssge,
.snackbar__close {
  color: white;
}
.snackbar__close {
  margin-left: 10px;
  font-size: 15px;
}
